b
	font-size 16px

a
	color black
	font-size 16px

.content_column
	margin-top 90px
	padding-bottom 120px
	/*&.main
		//width 1280px
		//.column_main_inner
			//width 1280px
*/

.head_title_block
	color black

.form_block
	position relative

input, textarea, select
	font-size 16px

.ru
	width 620px
	display inline-block

.en
	width 620px
	display none
	margin-left 20px

.en_img
	display none

.editor
	width 625px
	float left
	margin-right 20px
	margin-bottom 20px
	&:nth-child(3n)
		margin-right 0px
		display none

.title
	margin-top 20px
	font-size 20pt

.main_menu_block
	hr
		border none
		border-top 1px solid #000

.form_title
	margin-top 15px
	margin-bottom 15px
	font-size 14pt
	clear both

.form_section
	margin-left 10px
	margin-top 20px
	margin-bottom 20px
	font 14pt/14pt 'Times'
	font-weight bold

.navigator
	width 150px
	float right
	background-color black
	color white
	padding 10px

// .nav_item, .toggle_eng
// 	cursor pointer
	// display block

// .nav_item:hover, .toggle_eng:hover
// 	text-decoration underline

.nav_forms select, .nav_forms input
	font-size 11pt
	min-width 64px
	margin 0

.form_submit
	margin-top 5px
	cursor pointer
	&:hover
		text-decoration underline

.nav_forms
	.form_submit
		margin-top 10px

.footer_block
	display none

.spacer
	display inline-block
	width 10px
	text-align center
	margin-right 5px
	font-size 12pt

.tickets_list
	display none
	margin-left 40px

.form_images_upload
	width 680px
	min-height 180px
	overflow hidden
	border 1px solid red
	padding 5px

.image_upload_preview
	width 210px
	height 160px
	margin-right 5px
	margin-bottom 5px
	float left
	clear both
	background-size cover
	background-position center

.image_upload_description
	width 214px
	height 154px
	border 1px solid black
	margin 0

.image_upload_delete
	background-color white
	color red
	font-size 14px
	padding 2px
	display inline-block
	cursor pointer
	&:hover
		color white
		background-color red

input
	&[type='submit']
		clear both
		float left

.quotes
	width 18px
	height 30px
	background: #000
	padding 1px 11px
	display inline-block
	font-size 19px
	line-height 28px
	text-align center
	color #FFF
	cursor pointer
	&:hover
		color HighlightText
		background-color Highlight

.note
	font 11pt/12pt 'PT Sans'
	margin-top 20px
	color #7b7b7b
	border-left 1px solid #7b7b7b
	padding-left 10px
	margin-right 10px

.banners
	.true
		color #f00


.code_block
	position: fixed
	top 0
	left 50%
	right 10px
	bottom 0

	textarea
		width 100%
		top 0
		position absolute
		right 0;
		height 100%
		background #eee
		color #111
		font-family monospace
		border none
		font-size 16px
		padding 8px
		outline none