body
	background #fff
	font 16px/19px 'helvetica', arial;
	margin 0
	padding 0
	color #000

.main_block
	width 1280px
	margin 0 auto
	.content_title
		font-size 30px
		line-height 35px
		margin 45px 0 20px
	.content_block
		.content_item
			.item_link
				display block
				color #333
				margin-top 7px
				&:hover
					color #d815c6
				.item_title
					.item_date
						font-size 14px
						line-height 15px


