body
	@media screen and (max-width: 1280px)
		overflow hidden
body
.menu_block.left .menu_item_block .menu_item
.content_navigate_block .navigate_items_block .navigate_item
.content_navigate_block .navigate_title
	@media screen and (max-width: 1280px)
		font-size 13pt
		line-height 15pt

.menu_block.left .menu_item_block .menu_drop
	@media screen and (max-width: 1280px)
		padding-top 11px

.content_block .content_item .item_description .item_date
	@media screen and (max-width: 1280px)
		font-size 12pt
		line-height 14pt

.header_block
	@media screen and (max-width: 1280px)
		padding 5px 0

.logo_title
	@media screen and (max-width: 1280px)
		display none

.header_logo
	@media screen and (max-width: 1280px)
		margin-right 10px
		margin-top -3px
		position relative
		overflow visible

.header_logo:after
	@media screen and (max-width: 1280px)
		position absolute
		content 'ГЦМСИР'
		top 100%
		left 0
		width 100%
		color #fff
		font 7pt/10pt 'PT Sans'
		text-align center
		margin-top 2px
		letter-spacing 1px

.header_logo .logo_title
	@media screen and (max-width: 1280px)
		width 40px

.header_inner
.search_inner
	@media screen and (max-width: 1280px)
		width 980px
		margin 0 auto
		padding 10px
	@media screen and (max-width: 1000px)
		width 890px
		padding-left 30px

.content_column.main
	@media screen and (max-width: 1280px)
		-webkit-overflow-scrolling touch

.content_scroll_items
	@media screen and (max-width: 1280px)
		width 295px

.content_columns_block .content_column.scroll .content_scroll_item
	@media screen and (max-width: 1280px)
		width 270px
		height auto
		min-height 100px