body
	overflow-x hidden
	background #000
	font-family 'helvetica', arial, sans
	font-weight 100
	header
		&.header_in
			position absolute
			top 20px
			right 0
			left 20px
			background transparent
			border-bottom none
			z-index 1000
			margin 0
			.logo_in
				background-color transparent
				background-image url(https://kassa.rambler.ru/s/1606021958/dist/i/logo_new.png)

	.container
		width 100%
		&.header
			overflow hidden
			width 100%
			background transparent
			background-position 50%
			background-size cover
			background-repeat no-repeat
			position relative
			&:after
				content ''
				position absolute
				bottom 0
				top 76vh
				left 0
				right 0
				display block
				z-index 1
				background linear-gradient(to bottom,rgba(0, 0, 0, 0) 0%,#000 50%)

			.title
				margin 100px auto
				width 954px
				height 572px
				background url(images/startitle.png) 50% no-repeat
				background-size contain
				display flex
				position relative
				z-index 2
				align-items center
				justify-content center
				color #fff
				font-size 100px
				line-height 120px
			.subtitle
				font-size 35px
				line-height 52px
				text-align center
				letter-spacing 0px
				text-transform uppercase
				color #fff
				margin 30px 0
				position relative
				z-index 2
			.buy_button
				text-align center
				position relative
				z-index 2
				.buy
					color #fff
					margin 19px 0
					padding 10px 54px 10px 50px
					letter-spacing 0px
					text-decoration none
					display inline-block
					vertical-align middle
					text-transform uppercase
					font-size 40px
					font-weight 400
					background #c26912
					background-size 100%
					transition 0.3s
					border-radius 8px
		&.intro
			text-align center
			margin 0 auto 100px
			padding-top 75px
			.intro_inner
				padding 0 190px
				font-size 20px
				line-height 24px
				color #fff
		&.title_font
			font-size 50px
			line-height 53px
			text-align center
			color #fff
			margin 0 auto
			text-transform uppercase
			padding-top 0px
			letter-spacing 3px
		&.map
			width 100%
			height 310px
			background-color #f1f1f1
			position relative
		&.slider-film
			position relative
			button
				position absolute
				top 50%
				z-index 10
				&.slick-prev
					left 10px
				&.slick-next
					right 10px
			.slide
				background-size 95% auto
				background-position 50%
				background-repeat no-repeat
				height 40vw