extends ../../layout

block title
	title ###

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/edit.css')
	link(rel='stylesheet', type='text/css', href='/build/css/libs/dropzone.css')

block content_scripts
	script(type='text/javascript', src='/build/js/libs/dropzone.js')
	script(type='text/javascript', src='/build/js/editor.js')
	script(type='text/javascript', src='/build/js/script.js')

block content
	.iii= promo
	form(action="/auth/promo/add", method="post")
		.side
			.side_inner
				input(name='title', type='text', placeholder='Название')
				input#side_menu_checkbox.side_menu_checkbox(type='checkbox')
				label(for='side_menu_checkbox')
					span.items_show +
					span.items_hide -
				.side_menu
					.side_item(data-block-type='kassa-header') Header Кассы
					.side_item(data-block-type='title') Заголовок
					.side_item(data-block-type='subtitle') Подзаголовок
					.side_item(data-block-type='upper-slider') Верхний слайдер
					.side_item(data-block-type='description') Описание
					.side_item(data-block-type='map') Карта
					.side_item(data-block-type='bottom-slider') Нижний слайдер
					.side_item(data-block-type='kassa-footer') Footer Кассы
				.side_elements
					.side_item.side_item_start
				input(type='submit', value='отправить')
		.container




